<h2><%= t("add_comment") %></h2>
<%= form_for [@comment, Comment.new] do |f| %>
  <%= f.text_area :content, placeholder: true, class: 'comment_content' %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :post_id, value: @post.id %>
  <%= f.submit t("send") %>

<% end %>