<h1><%= @user.username %></h1>
<p><%= @user.email %></p>
<p>Inscrit le <%= @user.created_at %></p>


<% unless @user.posts.blank? %>
  <h2>Ses articles</h2>
  <% @user.posts.each do |post|  %>
    <h1><%= post.title %></h1>
    <p><%= post.content %></p>
  <% end %>
<% else %>
  You have no messages.
<% end %>