


<main class="container">
  <h1><%= @user.username %></h1>
  <p><%= @user.email %></p>
  <p><%= t("register_at") %> <%= @user.created_at %></p>
  <% if @posts.count > 0 %>
    <div class="articles__container">
      <%= render @posts %>
    </div>
    <%= will_paginate @posts %>
    <% else %>
    <p><%= t('no_articles') %></p>
  <% end %>
</main>