<main class="container container-new">
  <h1><%= t "add_article" %></h1>
  <p class="add_subtitle">
  <%= t "add_article_subtitle" %>
  </p>
  <%= form_for @post do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title, placeholder: true %>
    <%= f.label :content %>
    <%= f.text_area :content, placeholder: true %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.submit t('add_submit')%>
  <% end %>
</main>