<%= image_tag @post.photo.url %>
<h1><%= @post.title %></h1>
<p><%= @post.content %></p>
<p><%= t("published_by") %> <%= @post.user.username %></p>
<% unless @post.comments.blank? %>
  <h4><%= t("comments") %></h4>
  <ul>
  <% @post.comments.each do |comment|  %>
    <li><strong><%= comment.user.username %> : </strong><%= comment.content %></li>
    <% if current_user.id === comment.user.id || @post.user.id === current_user.id %>
      <%= link_to t("delete_comment"), comment_path(comment.id), method: :delete, data: { confirm: t('confirm_delete_comment') } %>
    <% end %>
  <% end %>
  </ul>
<% else %>
  <%= t("no_comments") %>
<% end %>
<%= render partial: 'comments/form', locals: { comment: @comment } %>
<% if current_user.id === @post.user.id %>
      <%= link_to t('delete_post'), post_path(@post.id), method: :delete, data: { confirm: t('confirm_delete_post') } %>
<% end %>
