<header class="header">
  <div class="lang">
  <% if I18n.locale == I18n.default_locale %>
    <%= link_to_unless I18n.locale == :en, "EN", locale: :en%>
    <% else %>
    <%= link_to_unless I18n.locale == :de, "FR", locale: :fr %>
  <% end %>
  </div>
  <div class="logo">
    <svg version="1.1" x="0px" y="0px" viewBox="0 0 160 160" xml:space="preserve"><path d="M112.2,43c-3.8,1.7-7.3,3.1-10.6,4.8c-14.7,7.3-29.2,14.8-43.9,22c-7.8,3.8-15.6,7.3-24.2,8.9c-3.9,0.7-7.8,0.7-11.6-0.5	c-5.3-1.6-9.3-7.3-9.6-13.9C11.8,50.9,17.7,40.4,28,32.5c25.2-19.3,61-15.7,82.2,8C110.8,41.2,111.3,41.9,112.2,43z"/><path d="M78.4,138.8c3.2-2.2,6.6-4.1,9.6-6.6c4.9-4,8.4-8.9,9.7-15.2c2.2-10.5-5.1-20.1-15.8-20.7c-8.9-0.5-17.1,2.1-25.2,5.3	c-17.6,6.8-35.2,13.5-52.8,20.3c-0.7,0.3-1.5,0.3-2.2,0.4c-0.1-0.3-0.2-0.5-0.3-0.8c43.8-28.1,87.6-56.3,131.4-84.4	c0.2,0.1,0.4,0.3,0.6,0.4c-0.4,0.8-0.6,1.7-1.2,2.3c-3.5,4.3-7.1,8.6-10.7,12.8c-1.2,1.4-1.5,2.5-0.8,4.2	c13.8,32.1-2.6,69.1-35.6,80.5c-2.2,0.7-4.4,1.3-6.5,2C78.5,139.2,78.4,139,78.4,138.8z"/><path d="M144.5,44c-2.8-7.3-7-13.8-12.7-19.3c0.1-0.2,0.3-0.5,0.4-0.7c2.4,0.4,4.8,0.7,7.1,1.3c2,0.6,3.6-0.1,5.4-0.8	c3.2-1.4,6.6-2.3,9.9-3.2c0.9-0.3,1.9,0,3.5,0c-0.9,1.7-1.3,3.1-2.2,4.1c-1.8,2.2-3.6,4.7-5.9,6.4c-2.5,1.8-3.3,4.2-3.8,6.9	c-0.3,1.8-0.8,3.5-1.2,5.3C145,43.9,144.7,44,144.5,44z"/></svg>  
  </div>
  <nav class="nav">
    <ul>
      <li><%= link_to t('home'), root_path %></li>
      <% if !current_user %>
      <li><%= link_to t('register'), new_user_registration_path %></li>
      <li><%= link_to t('login'), login_path %></li>
      <% else %>
      <li><%= link_to t('new_article'), new_post_path, class: 'nav__new_item' %></li>
      <li><%= link_to t('articles'), posts_path %></li>
      <li><%= link_to t('users'), users_path %></li>
      <li><%= link_to t('logout'), destroy_user_session_path, method: :delete %></li>
      <% end %>
    </ul>
  </nav>
</header>